/*=== Overlay Mixin ===*/
/*==================================
FONTS
==================================*/
/*=== DIN Condensed Bold ===*/
@font-face {
  font-family: 'din-condensed';
  src: url("../fonts/DIN-Condensed/DINCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Condensed/DINCondensed-Bold.woff") format("woff"), url("../fonts/DIN-Condensed/DINCondensed-Bold.ttf") format("truetype"), url("../fonts/DIN-Condensed/DINCondensed-Bold.svg#DINCondensed-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*=== DIN Condensed Medium ===*/
@font-face {
  font-family: 'din-condensed-medium';
  src: url("../fonts/DIN-Condensed-Medium/DINPro-CondMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Condensed-Medium/DINPro-CondMedium.otf") format("opentype"), url("../fonts/DIN-Condensed-Medium/DINPro-CondMedium.woff") format("woff"), url("../fonts/DIN-Condensed-Medium/DINPro-CondMedium.ttf") format("truetype"), url("../fonts/DIN-Condensed-Medium/DINPro-CondMedium.svg#DINPro-CondMedium") format("svg");
  font-weight: normal;
  font-style: normal; }

/*=== DIN Regular ===*/
@font-face {
  font-family: 'din-regular';
  src: url("../fonts/DIN-Regular/DINPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Regular/DINPro-Regular.otf") format("opentype"), url("../fonts/DIN-Regular/DINPro-Regular.woff") format("woff"), url("../fonts/DIN-Regular/DINPro-Regular.ttf") format("truetype"), url("../fonts/DIN-Regular/DINPro-Regular.svg#DINPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*=== DIN Medium ===*/
@font-face {
  font-family: 'din-medium';
  src: url("../fonts/DIN-Medium/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Medium/DINPro-Medium.otf") format("opentype"), url("../fonts/DIN-Medium/DINPro-Medium.woff") format("woff"), url("../fonts/DIN-Medium/DINPro-Medium.ttf") format("truetype"), url("../fonts/DIN-Medium/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

/*=== DIN Bold ===*/
@font-face {
  font-family: 'din-bold';
  src: url("../fonts/DIN-Bold/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Bold/DINPro-Bold.otf") format("opentype"), url("../fonts/DIN-Bold/DINPro-Bold.woff") format("woff"), url("../fonts/DIN-Bold/DINPro-Bold.ttf") format("truetype"), url("../fonts/DIN-Bold/DINPro-Bold.svg#DINPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.homepage p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'din-regular', sans-serif; }
  @media all and (max-width: 480px) {
    .homepage p {
      font-size: 12px;
      line-height: 20px; } }

.homepage h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: 'din-condensed', sans-serif; }
  @media all and (max-width: 768px) {
    .homepage h1 {
      font-size: 40px; } }

.homepage h2 {
  font-size: 34px;
  font-family: 'din-condensed', sans-serif; }
  @media all and (max-width: 768px) {
    .homepage h2 {
      font-size: 25px; } }

.homepage h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'din-bold', sans-serif; }

.homepage p, .homepage h1, .homepage h2, .homepage h3 {
  margin: 0px 0px 10px; }

.homepage a {
  text-decoration: none;
  cursor: pointer;
  transition: color .3s ease-in-out; }

.homepage strong, .homepage b {
  font-family: 'centurygothic_bold', sans-serif; }

.homepage ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

/*==================================
COMPONENTS  
==================================*/
/*=== Buttons / Links ===*/
a.white_button {
  border: 3px solid white;
  padding: 10px 20px;
  font-family: 'din-medium', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  transition: all .3s ease-in-out; }
  a.white_button:hover {
    background: #ffffff;
    color: #E50A0A; }

a.grey_link {
  font-family: 'din-bold', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #787776; }
  a.grey_link:hover {
    color: #FCAF17; }

/*=== Social Icons ===*/
ul.social_icons li {
  display: inline-block;
  padding: 0px 10px;
  font-size: 30px; }
  @media all and (max-width: 667px) {
    ul.social_icons li {
      font-size: 20px; } }

ul.social_icons a {
  color: #ffffff; }
  ul.social_icons a:hover {
    color: #FCAF17; }

/*=== Universal Content Overlay on Image Blocks ===*/
.module_content {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(transparent, #000000 80%);
  padding: 0px 20px 20px;
  color: #ffffff; }

.module_content h1 {
  margin-bottom: 0;
  max-width: 600px;
  width: 98%;
  margin: 0 auto; }

.module_content h1, .photo_gallery h2 {
  text-shadow: 1px 1px #000; }

.homepage .module_content img {
  width: 150px;
  margin: 0 auto 20px; }

.module_content p {
  opacity: 0;
  max-height: 0px;
  margin-bottom: 0px;
  transition: all 1s ease-in-out; }

.individual_block:hover .module_content p {
  opacity: 1;
  max-height: 300px; }

/*==================================
HELPERS 
==================================*/
.center {
  text-align: center; }

.with_padding_top_bottom {
  padding: 100px 0px; }

.with_margin_bottom {
  margin: 0px 0px 100px; }

/*==================================
STRUCTURE  
==================================*/
.homepage img {
  display: block;
  width: 100%; }

.homepage_container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }

.homepage .section_header {
  text-align: center;
  margin-bottom: 50px; }

/*==================================
GRID
==================================*/
.homepage_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  width: auto;
  margin: 0px -10px; }

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
  position: relative;
  margin: 0px 0px 15px;
  padding: 0px 10px;
  display: inline-block; }
  .column_1 img, .column_1_2 img, .column_1_3 img, .column_2_3 img, .column_1_4 img, .column_3_4 img {
    display: block; }

/*=== Columns ===*/
.column_1 {
  width: 100%; }

.column_1_2 {
  width: 50%; }
  @media all and (max-width: 667px) {
    .column_1_2 {
      width: 100%; } }

.column_1_3 {
  width: 33.33%; }
  @media all and (max-width: 768px) {
    .column_1_3 {
      width: 100%; } }

.column_2_3 {
  width: 66.66%; }
  @media all and (max-width: 768px) {
    .column_2_3 {
      width: 100%; } }

.column_1_4 {
  width: 25%; }
  @media all and (max-width: 768px) {
    .column_1_4 {
      width: 50%; } }
  @media all and (max-width: 667px) {
    .column_1_4 {
      width: 100%; } }

.column_3_4 {
  width: 75%; }
  @media all and (max-width: 667px) {
    .column_3_4 {
      width: 100%; } }

/*==================================
HEADER 
==================================*/
body.homepage {
  margin: 0px;
  background: #ffffff; }

header.tribeca_header {
  border-top: 4px solid #E50A0A;
  padding: 10px 0px; }

header.tribeca_header img {
  width: 150px;
  margin: 0 auto; }

/*==================================
TOP MODULES
==================================*/
.homepage_top_modules {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  color: #ffffff; }
  .homepage_top_modules .left {
    width: 60%;
    display: -ms-flexbox;
    display: flex; }
    @media all and (max-width: 1024px) {
      .homepage_top_modules .left {
        width: 100%; } }
  .homepage_top_modules .right {
    width: 40%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    @media all and (max-width: 1024px) {
      .homepage_top_modules .right {
        width: 100%; } }
  .homepage_top_modules h1, .homepage_top_modules h2 {
    margin-bottom: 0px; }

/*=== Video ===*/
.video_container {
  position: relative;
  width: 100%; }

.video_cover {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-size: cover; }
  @media all and (max-width: 667px) {
    .video_cover {
      display: none; } }

.play_button_container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

button.play_button {
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid;
  color: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 30px;
  margin-bottom: 60px;
  cursor: pointer;
  outline: 0;
  transition: background .3s ease-in-out; }
  button.play_button:hover {
    background: transparent; }

.homepage_quote_video button.play_button {
  margin-bottom: 0px; }

/*=== Photo Gallery ===*/
.photo_gallery {
  position: relative;
  height: 0px;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60%; }
  @media all and (max-width: 1300px) {
    .photo_gallery {
      padding-top: 48%; } }

/*=== Featured Article ===*/
a.featured_article {
  text-align: center;
  background-color: #CE8801;
  color: #ffffff;
  padding: 20px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  -ms-flex-pack: center;
      justify-content: center;
  transition: all .5s ease-in-out; }
  a.featured_article:hover {
    background-color: #FCAF17; }

/*==================================
STATS
==================================*/
@media all and (max-width: 768px) {
  .homepage_stats .column_1_3 {
    margin-bottom: 50px; } }

.homepage_stats img {
  width: 150px;
  margin: 0 auto 20px; }
  @media all and (max-width: 768px) {
    .homepage_stats img {
      margin: 0 auto 5px; } }

.homepage_stats .stat {
  font-size: 60px;
  line-height: 60px;
  font-family: 'din-bold', sans-serif; }

.homepage_stats .stat_title {
  font-size: 22px;
  line-height: 22px;
  font-family: 'din-medium', sans-serif; }

/*==================================
CELEBRITIES
==================================*/
.homepage_celebrities {
  position: relative; }

.celebrity_names {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0px;
  background: linear-gradient(transparent, #1F49A9); }
  @media all and (max-width: 1024px) {
    .celebrity_names {
      position: relative;
      background: #1F49A9;
      padding: 40px 0px 20px; } }

.homepage_celebrities ul {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  width: 90%; }

.homepage_celebrities li {
  display: inline-block;
  font-size: 30px;
  line-height: 34px;
  margin: 0px 20px 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #90C8EC;
  font-family: 'din-condensed', sans-serif;
  transition: all .3s ease-in-out; }
  .homepage_celebrities li.active {
    color: #ffffff;
    border-bottom: 2px solid; }
  @media all and (max-width: 667px) {
    .homepage_celebrities li {
      font-size: 20px;
      line-height: 20px;
      margin: 0 5px 10px; } }

.homepage_celebrities img {
  position: absolute;
  top: 0;
  opacity: 0; }
  .homepage_celebrities img.visible {
    opacity: 1; }

.homepage_celebrities img:first-child {
  position: relative; }

/*==================================
QUOTE / VIDEO
==================================*/
/*=== Quote Slider ===*/
.quote_slider.flexslider {
  margin: 0px;
  background: transparent;
  border: 0;
  max-width: 500px;
  width: 75%; }
  @media all and (max-width: 1024px) {
    .quote_slider.flexslider {
      margin: 0px 0px 100px 0px; } }

p.quote_text {
  font-family: 'din-condensed-medium';
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 30px; }
  @media all and (max-width: 768px) {
    p.quote_text {
      font-size: 40px;
      line-height: 50px; } }
  @media all and (max-width: 667px) {
    p.quote_text {
      font-size: 30px;
      line-height: 32px; } }

p.quote_author {
  font-family: 'din-medium';
  font-size: 22px;
  line-height: 26px;
  color: #787776;
  margin-bottom: 0px; }
  @media all and (max-width: 667px) {
    p.quote_author {
      font-size: 18px;
      line-height: 20px; } }

.quote_footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.flex-control-nav {
  text-align: left; }

.flex-control-nav li:first-child {
  margin: 0px 6px 0px 0px; }

.flex-control-paging li a {
  background: transparent;
  border: 2px solid #787776; }
  .flex-control-paging li a:hover {
    background: #787776; }

.flex-control-paging li a.flex-active {
  background: #787776; }

.flexslider .slides:before {
  content: "";
  background-image: url("../img/quote_icon.png");
  display: block;
  width: 30px;
  height: 24px;
  background-size: cover;
  position: absolute;
  left: -45px;
  top: 10px; }
  @media all and (max-width: 667px) {
    .flexslider .slides:before {
      width: 20px;
      height: 16px;
      left: -30px;
      top: 6px; } }

/*=== Video ===*/
section.homepage_quote_video {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  section.homepage_quote_video .left {
    width: 40%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    @media all and (max-width: 1024px) {
      section.homepage_quote_video .left {
        width: 100%; } }
  section.homepage_quote_video .right {
    width: 60%; }
    @media all and (max-width: 1024px) {
      section.homepage_quote_video .right {
        width: 100%; } }

.homepage_quote_video video {
  display: block;
  width: 100%; }

/*==================================
TRIBECA FIRST EVERS
==================================*/
.tribeca_first_block {
  position: relative;
  display: block; }
  .tribeca_first_block:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s ease-in-out; }

.tribeca_first_block h2.title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 140px; }

.tribeca_first_block p {
  position: absolute;
  top: 200px;
  color: #ffffff;
  text-align: center;
  padding: 0px 20px;
  font-family: 'din-medium', sans-serif;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: all .3s ease-in-out; }

.tribeca_first_block.snapchat_shorts:hover:before {
  content: "";
  position: absolute;
  background: rgba(31, 73, 169, 0.9);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block; }

.tribeca_first_block.tunein:hover:before {
  content: "";
  position: absolute;
  background: rgba(229, 10, 10, 0.9);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block; }

.tribeca_first_block.creators_market:hover:before {
  content: "";
  position: absolute;
  background: rgba(252, 175, 23, 0.9);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block; }

.tribeca_first_block:hover p {
  opacity: 1;
  transform: translateY(0px); }

/*==================================
QUADRANT BLOCKS
==================================*/
section.homepage_blocks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.homepage_blocks .individual_block {
  width: 50%; }
  .homepage_blocks .individual_block a {
    position: relative;
    display: block; }
  .homepage_blocks .individual_block:nth-child(1), .homepage_blocks .individual_block:nth-child(2) {
    padding-bottom: 20px; }
    @media all and (max-width: 768px) {
      .homepage_blocks .individual_block:nth-child(1), .homepage_blocks .individual_block:nth-child(2) {
        padding-bottom: 0px; } }
  .homepage_blocks .individual_block:nth-child(2n+1) {
    padding-right: 10px; }
    @media all and (max-width: 768px) {
      .homepage_blocks .individual_block:nth-child(2n+1) {
        padding-right: 0px; } }
  .homepage_blocks .individual_block:nth-child(2n+2) {
    padding-left: 10px; }
    @media all and (max-width: 768px) {
      .homepage_blocks .individual_block:nth-child(2n+2) {
        padding-left: 0px; } }
  @media all and (max-width: 768px) {
    .homepage_blocks .individual_block {
      width: 100%; } }

/*==================================
SOCIAL
==================================*/
.instagram_image_container {
  width: 334px;
  height: 334px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto 20px; }
  @media all and (max-width: 1200px) {
    .instagram_image_container {
      width: 250px;
      height: 250px; } }
  @media all and (max-width: 667px) {
    .instagram_image_container {
      width: 200px;
      height: 200px; } }

.social_block {
  text-align: center; }
  .social_block img {
    margin-bottom: 20px; }
  .social_block p {
    font-family: 'din-medium', sans-serif;
    max-width: 500px;
    margin: 0 auto 20px; }

/*==================================
CALL TO ACTION BLOCK
==================================*/
.homepage_cta_block {
  position: relative;
  height: 250px;
  background-size: cover; }
  @media all and (min-width: 1300px) {
    .homepage_cta_block {
      height: 350px; } }
  @media all and (max-width: 667px) {
    .homepage_cta_block {
      height: 300px; } }

.homepage_cta_block .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.homepage_cta_block p {
  font-family: 'din-bold', sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 30px; }
  @media all and (max-width: 768px) {
    .homepage_cta_block p {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px; } }

/*==================================
NEWSLETTER
==================================*/
.homepage_newsletter_block {
  position: relative; }
  .homepage_newsletter_block:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block; }

.homepage_newsletter_block video {
  width: 100%;
  display: block; }

.homepage_newsletter_block .content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 10; }

.homepage_newsletter_block form {
  margin-bottom: 20px; }

.homepage_newsletter_block input[type="email"] {
  padding: 10px;
  width: 400px;
  border: 0;
  font-family: 'din-regular', sans-serif;
  font-size: 18px;
  border-radius: 0; }
  @media all and (max-width: 667px) {
    .homepage_newsletter_block input[type="email"] {
      width: 250px; } }

.homepage_newsletter_block input[type="submit"] {
  -webkit-appearance: none;
  background: #787776;
  border: 0;
  border-radius: 0;
  color: white;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'din-bold', sans-serif;
  font-size: 18px;
  width: 150px;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .homepage_newsletter_block input[type="submit"]:hover {
    background: #FCAF17; }
  @media all and (max-width: 667px) {
    .homepage_newsletter_block input[type="submit"] {
      width: 250px;
      display: block; } }

/*==================================
FOOTER
==================================*/
footer {
  background: #3C3B3B;
  padding: 10px 0px; }

.homepage footer img {
  width: 150px;
  margin: 0 auto; }
