@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

/*=== DIN Condensed Bold ===*/

@font-face {
  font-family: 'din-condensed';
  src: url('../fonts/DIN-Condensed/DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN-Condensed/DINCondensed-Bold.woff') format('woff'), url('../fonts/DIN-Condensed/DINCondensed-Bold.ttf')  format('truetype'), url('../fonts/DIN-Condensed/DINCondensed-Bold.svg#DINCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*=== DIN Condensed Medium ===*/

@font-face {
  font-family: 'din-condensed-medium';
  src: url('../fonts/DIN-Condensed-Medium/DINPro-CondMedium.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN-Condensed-Medium/DINPro-CondMedium.otf')  format('opentype'),
         url('../fonts/DIN-Condensed-Medium/DINPro-CondMedium.woff') format('woff'), url('../fonts/DIN-Condensed-Medium/DINPro-CondMedium.ttf')  format('truetype'), url('../fonts/DIN-Condensed-Medium/DINPro-CondMedium.svg#DINPro-CondMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*=== DIN Regular ===*/

@font-face {
  font-family: 'din-regular';
  src: url('../fonts/DIN-Regular/DINPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN-Regular/DINPro-Regular.otf')  format('opentype'),
         url('../fonts/DIN-Regular/DINPro-Regular.woff') format('woff'), url('../fonts/DIN-Regular/DINPro-Regular.ttf')  format('truetype'), url('../fonts/DIN-Regular/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*=== DIN Medium ===*/

@font-face {
  font-family: 'din-medium';
  src: url('../fonts/DIN-Medium/DINPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN-Medium/DINPro-Medium.otf')  format('opentype'),
         url('../fonts/DIN-Medium/DINPro-Medium.woff') format('woff'), url('../fonts/DIN-Medium/DINPro-Medium.ttf')  format('truetype'), url('../fonts/DIN-Medium/DINPro-Medium.svg#DINPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*=== DIN Bold ===*/

@font-face {
  font-family: 'din-bold';
  src: url('../fonts/DIN-Bold/DINPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN-Bold/DINPro-Bold.otf')  format('opentype'),
         url('../fonts/DIN-Bold/DINPro-Bold.woff') format('woff'), url('../fonts/DIN-Bold/DINPro-Bold.ttf')  format('truetype'), url('../fonts/DIN-Bold/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.homepage {

    p {
        font-size: 16px;
        line-height: 20px;
        font-family: 'din-regular', sans-serif;

        @include mobile {
            font-size: 12px;
            line-height: 20px;
        }
    }

    h1 {
        font-size: 48px;
        font-weight: 700;
        font-family: 'din-condensed', sans-serif;

        @include tablet {
            font-size: 40px;
        }
    }

    h2 {
        font-size: 34px;
        font-family: 'din-condensed', sans-serif;

        @include tablet {
            font-size: 25px;
        }
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'din-bold', sans-serif;
    }

    p, h1, h2, h3 {
        margin: 0px 0px 10px;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        transition: color .3s ease-in-out;
    }

    strong, b {
        font-family: 'centurygothic_bold', sans-serif;
    }

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

}

/*==================================
COMPONENTS  
==================================*/

/*=== Buttons / Links ===*/

a.white_button {
    border: 3px solid white;
    padding: 10px 20px;
    font-family: 'din-medium', sans-serif;
    text-transform: uppercase;
    color: $white;
    transition: all .3s ease-in-out;

    &:hover {
        background: $white;
        color: $red;
    }
}

a.grey_link {
    font-family: 'din-bold', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: $grey;

    &:hover {
        color: $goldenrod;
    }
}

/*=== Social Icons ===*/

ul.social_icons li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 30px;

    @include mobile_landscape {
        font-size: 20px;
    }
}

ul.social_icons a {
    color: $white;

    &:hover {
        color: $goldenrod;
    }
}

/*=== Universal Content Overlay on Image Blocks ===*/

.module_content {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(transparent,$black 80%);
    padding: 0px 20px 20px;
    color: $white;
}

.module_content h1 {
    margin-bottom: 0;
    max-width: 600px;
    width: 98%;
    margin: 0 auto;
}

.module_content h1, .photo_gallery h2 {
    text-shadow: 1px 1px #000;
}

.homepage .module_content img {
    width: 150px;
    margin: 0 auto 20px;
}

.module_content p {
    opacity: 0;
    max-height: 0px;
    margin-bottom: 0px;
    transition: all 1s ease-in-out;
}

.individual_block:hover {
    .module_content p {
        opacity: 1;
        max-height: 300px;
    }
}

/*==================================
HELPERS 
==================================*/

.center {
    text-align: center;
}

.with_padding_top_bottom {
    padding: 100px 0px;
}

.with_margin_bottom {
    margin: 0px 0px 100px;
}

/*==================================
STRUCTURE  
==================================*/

.homepage img {
    display: block;
    width: 100%;
}

.homepage_container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.homepage .section_header {
    text-align: center;
    margin-bottom: 50px;
}

/*==================================
GRID
==================================*/

.homepage_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -10px;
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
    position: relative;
    margin: 0px 0px 15px;
    padding: 0px 10px;
    display: inline-block;

    img {
        display: block;
    }
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
        width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
        width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include tablet {
        width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
        width: 50%;
    }

    @include mobile_landscape {
        width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
        width: 100%;
    }
}

/*==================================
HEADER 
==================================*/

body.homepage {
    margin: 0px;
    background: $white;
}

header.tribeca_header {
    border-top: 4px solid $red;
    padding: 10px 0px;
}

header.tribeca_header img {
    width: 150px;
    margin: 0 auto;
}

/*==================================
TOP MODULES
==================================*/

.homepage_top_modules {
    display: flex;
    flex-flow: row wrap;
    color: $white;

    .left {
        width: 60%;
        display: flex;

        @include tablet_landscape {
            width: 100%;
        }
    }

    .right {
        width: 40%;
        display: flex;
        flex-direction: column;

        @include tablet_landscape {
            width: 100%;
        }
    }

    h1, h2 {
        margin-bottom: 0px;
    }
}

/*=== Video ===*/

.video_container {
    position: relative;
    width: 100%;
}

.video_cover {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-size: cover;

    @include mobile_landscape {
        display: none;
    }
}

.play_button_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.play_button {
    background: rgba(0,0,0,.5);
    border: 5px solid;
    color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin-bottom: 60px;
    cursor: pointer;
    outline: 0;
    transition: background .3s ease-in-out;

    &:hover {
        background: transparent;
    }
}

// Adjust bottom margin for just video without title

.homepage_quote_video button.play_button {
    margin-bottom: 0px;
}

/*=== Photo Gallery ===*/

.photo_gallery {
    position: relative;
    height: 0px;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60%;

    @media all and (max-width: 1300px) {
        padding-top: 48%
    }
}

/*=== Featured Article ===*/

a.featured_article {
    text-align: center;
    background-color: $darkgoldenrod;
    color: $white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    transition: all .5s ease-in-out;

    &:hover {
        background-color: $goldenrod;
    }
}

/*==================================
STATS
==================================*/

.homepage_stats .column_1_3 {
    @include tablet {
        margin-bottom: 50px;
    }
}

.homepage_stats img {
    width: 150px;
    margin: 0 auto 20px;

    @include tablet {
        margin: 0 auto 5px;
    }
}

.homepage_stats .stat {
    font-size: 60px;
    line-height: 60px;
    font-family: 'din-bold', sans-serif;
}

.homepage_stats .stat_title {
    font-size: 22px;
    line-height: 22px;
    font-family: 'din-medium', sans-serif;
}

/*==================================
CELEBRITIES
==================================*/

.homepage_celebrities {
    position: relative;
}


.celebrity_names {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 0px;
    background: linear-gradient(transparent,$cobalt);

    @include tablet_landscape {
        position: relative;
        background: $cobalt;
        padding: 40px 0px 20px;
    }
}

.homepage_celebrities ul {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.homepage_celebrities li {
    display: inline-block;
    font-size: 30px;
    line-height: 34px;
    margin: 0px 20px 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: $shortfilms_blue;
    font-family: 'din-condensed', sans-serif;
    transition: all .3s ease-in-out;

    &.active {
        color: $white;
        border-bottom: 2px solid;
    }

    @include mobile_landscape {
        font-size: 20px;
        line-height: 20px;
        margin: 0 5px 10px;
    }
}

.homepage_celebrities img {
    position: absolute;
    top: 0;
    opacity: 0;

    &.visible {
        opacity: 1;
    }
}

.homepage_celebrities img:first-child {
    position: relative;
}

/*==================================
QUOTE / VIDEO
==================================*/

/*=== Quote Slider ===*/

.quote_slider.flexslider {
    margin: 0px;
    background: transparent;
    border: 0;
    max-width: 500px;
    width: 75%;

    @include tablet_landscape {
        margin: 0px 0px 100px 0px;
    }
}

p.quote_text {
    font-family: 'din-condensed-medium';
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 30px;

    @include tablet {
        font-size: 40px;
        line-height: 50px;
    }

    @include mobile_landscape {
        font-size: 30px;
        line-height: 32px;
    }
}

p.quote_author {
    font-family: 'din-medium';
    font-size: 22px;
    line-height: 26px;
    color: $grey;
    margin-bottom: 0px;

    @include mobile_landscape {
        font-size: 18px;
        line-height: 20px;
    }
}

.quote_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-control-nav {
    text-align: left;
}

.flex-control-nav li:first-child {
    margin: 0px 6px 0px 0px;
}

.flex-control-paging li a {
    background: transparent;
    border: 2px solid $grey;

    &:hover {
        background: $grey;
    }
}

.flex-control-paging li a.flex-active {
    background: $grey;
}

.flexslider .slides:before {
    content: "";
    background-image: url('../img/quote_icon.png');
    display: block;
    width: 30px;
    height: 24px;
    background-size: cover;
    position: absolute;
    left: -45px;
    top: 10px;

    @include mobile_landscape {
        width: 20px;
        height: 16px;
        left: -30px;
        top: 6px;
    }
}

/*=== Video ===*/

section.homepage_quote_video {
    display: flex;
    flex-flow: row wrap;

    .left {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet_landscape {
            width: 100%
        }
    }
    
    .right {
        width: 60%;

        @include tablet_landscape {
            width: 100%
        }
    }
}

.homepage_quote_video video {
    display: block;
    width: 100%;
}

/*==================================
TRIBECA FIRST EVERS
==================================*/

.tribeca_first_block {
    position: relative;
    display: block;

    &:before {
        @include overlay(rgba($black, .3));
        transition: .3s ease-in-out;
    }
}

.tribeca_first_block h2.title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 140px;
}

.tribeca_first_block p {
    position: absolute;
    top: 200px;
    color: $white;
    text-align: center;
    padding: 0px 20px;
    font-family: 'din-medium', sans-serif;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: all .3s ease-in-out;
}

.tribeca_first_block.snapchat_shorts:hover {
    &:before {
        @include overlay(rgba($cobalt, .9));
    }
}

.tribeca_first_block.tunein:hover {
    &:before {
        @include overlay(rgba($red, .9));
    }
}

.tribeca_first_block.creators_market:hover {
    &:before {
        @include overlay(rgba($goldenrod, .9));
    }
}

.tribeca_first_block:hover {
    p {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*==================================
QUADRANT BLOCKS
==================================*/

section.homepage_blocks {
    display: flex;
    flex-flow: row wrap;
}

.homepage_blocks .individual_block {
    width: 50%;

    a {
        position: relative;
        display: block;
    }

    &:nth-child(1), &:nth-child(2) {
        padding-bottom: 20px;

        @include tablet {
            padding-bottom: 0px;
        }
    }
    &:nth-child(2n+1) {
        padding-right: 10px;

        @include tablet {
            padding-right: 0px;
        }
    }
    &:nth-child(2n+2) {
        padding-left: 10px;

        @include tablet {
            padding-left: 0px;
        }
    }

    @include tablet {
        width: 100%;
    }
}

/*==================================
SOCIAL
==================================*/

.instagram_image_container {
    width: 334px;
    height: 334px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto 20px;

    @media all and (max-width: 1200px) {
        width: 250px;
        height: 250px;
    }

    @include mobile_landscape {
        width: 200px;
        height: 200px;
    }
}

.social_block {
    text-align: center;

    img {
        margin-bottom: 20px;
    }

    p {
        font-family: 'din-medium', sans-serif;
        max-width: 500px;
        margin: 0 auto 20px;
    }
}

/*==================================
CALL TO ACTION BLOCK
==================================*/

.homepage_cta_block {
    position: relative;
    height: 250px;
    background-size: cover;

    @media all and (min-width: 1300px) {
        height: 350px;
    }

    @include mobile_landscape {
        height: 300px;
    }
}

.homepage_cta_block .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage_cta_block p {
    font-family: 'din-bold', sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: $white;
    margin-bottom: 30px;

    @include tablet {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
}

/*==================================
NEWSLETTER
==================================*/

.homepage_newsletter_block {
    position: relative;

    &:before {
        @include overlay(rgba($black, .5));
    }
}

.homepage_newsletter_block video {
    width: 100%;
    display: block;
}

.homepage_newsletter_block .content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.homepage_newsletter_block form {
    margin-bottom: 20px;
}

.homepage_newsletter_block input[type="email"] {
    padding: 10px;
    width: 400px;
    border: 0;
    font-family: 'din-regular', sans-serif;
    font-size: 18px;
    border-radius: 0;

    @include mobile_landscape {
        width: 250px;
    }
}

.homepage_newsletter_block input[type="submit"] {
    -webkit-appearance: none;
    background: $grey;
    border: 0;
    border-radius: 0;
    color: white;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'din-bold', sans-serif;
    font-size: 18px;
    width: 150px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background: $goldenrod;
    }

    @include mobile_landscape {
        width: 250px;
        display: block;
    }
}

/*==================================
FOOTER
==================================*/

footer {
    background: $darkgrey;
    padding: 10px 0px;
}

.homepage footer img {
    width: 150px;
    margin: 0 auto;
}