// Neutrals

$black: #000000;
$white: #ffffff;

// Greys

$grey: #787776;
$darkgrey: #3C3B3B;
$mediumgrey: #BAB8B8;
$lightgrey: #F2F0F0;

// Goldenrod

$goldenrod: #FCAF17;
$darkgoldenrod: #CE8801;
$lightgoldenrod: #FFCF6F;

// Blue

$cobalt: #1F49A9;
$darkblue: #1F49A9;
$lightblue: #617FC5;
$shortfilms_blue: #90C8EC;

// Special Use Colors

$red: #E50A0A;